:root {
    --bs-primary: #CBE7FE;
    --bs-primary-rgb: 203, 231, 254;
    --bs-secondary: #5175ED;
    --bs-secondary-rgb: 81, 117, 237;
    --bs-success: #CBE77E;
    --bs-success-rgb: 203, 231, 126;
    --bs-info: #F1E9E2;
    --bs-info-rgb: 241, 233, 226;
}